<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <header class="header">
    <ul id="main-navbar">
      <% for( let i = 0; i < nav.length; i++ ) { %>
        <li><a href="<%= nav[i].link %> "><%= nav[i].title %> </a></li>
      <% } %>
      </ul>
  </header>
  <main>
    <div class="newPostButton container">
      <a href="/posts/new"><button>New Post</button></a>
    </div>
    <div>
      <% for( let i = 0; i < posts.length; i++ ) { %>
        <div class="post container">
          <div class="postTitle"><h2><%= posts[i].title %></h2></div>
          <div class="postDescription">
            <%= posts[i].description %>
            <a href="#">
              <span>
                Read more...
              </span>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </main>
</body>
</html>
