<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <%- include('header.ejs', nav)%>
  <main>
    <div class="jumbotron">
      <h1>Blog<sup>Post<sub>App</sub></sup></h1>
    </div>
    <% if (posts.length > 0) { %>
      <div>
        <% for( let i = 0; i < posts.length; i++ ) { %>
          <div class="post container">
            <div class="postTitle"><h2><%= posts[i].title %></h2></div>
            <div class="postDescription">
              <%= posts[i].description %>
            </div>
            <a href="/posts/<%= posts[i]._id  %> " class="readMoreSpan postDescription">
              <span>
                Click here to read more...
              </span>
            </a>
          </div>
        <% } %>
      </div>
    <% } else { %>
      <div class="info-bar">
        <h2>Nothing here. Sign in and posting something...</h2>
      </div>
    <% } %>
  </main>
</body>
</html>

