<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <%- include('header.ejs', nav)%>
  <main>
    <div class="jumbotron">
      <h1>Blog<sup>Post</sup></h1>
    </div>
    <div>
      <div class="post container">
        <div class="postTitle"><h2><%= post.title %></h2></div>
        <%= post.description %>
        <div class="content">
          <p><%- post.content %> </p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
